body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif !important;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}
a {
  color: #000;
}
a:hover {
  color: #000;
  text-decoration: none;
}
#header {
  background-color: #ff841d;
  height: 50px;
  border-bottom: 1px solid #e6e6e6;
  line-height: 50px;
}
#header > .logo {
  padding: 12px;
}
#header > .logo img {
  height: 25px;
}
#header > .app {
  float: right;
  padding: 0 7px;
}
#header > .app img {
  height: 34px;
}
#search {
  border-bottom: 1px solid #e6e6e6;
}
#search > form {
  height: 50px;
  padding: 10px;
  position: relative;
}
#search > form > input[type="search"] {
  width: 100%;
  padding-left: 5%;
  background-color: #f1f1f1;
}
#search > form > input[type="submit"] {
  background-color: #ff841d;
  color: #fff;
  padding: 0 15px;
  position: absolute;
  right: 10px;
  top: 10px;
}
#search input {
  border-radius: 15px;
  height: 30px;
}
#category .panel-group .panel + .panel {
  margin-top: 0;
}
#category .panel-default > .panel-heading + .panel-collapse > .panel-body {
  padding: 0;
}
#category .panel-default > .panel-heading + .panel-collapse > .panel-body > div {
  height: 40px;
  line-height: 40px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 18px;
  padding: 0;
}
#category .panel-default > .panel-heading + .panel-collapse > .panel-body > div > a {
  display: block;
}
#footer {
  margin-top: 10px;
}
#footer > .row > div {
  text-align: center;
  border: 1px solid #cccccc;
  height: 30px;
  line-height: 30px;
}
#footer > .row > div > a {
  width: 100%;
  display: block;
  position: relative;
}
#footer > .row > div > a > img {
  width: 15px;
  height: 15px;
}
#footer p {
  margin: 10px;
  text-align: center;
  font-size: 12px;
}
#footer p a:nth-child(1) {
  color: red;
}
#footer p a:nth-child(2) {
  color: #000;
}
